# Entorno / secretos
venv/
.env
__pycache__/
*.pyc
*.log

# Bases locales (por defecto ignoradas)
*.db
*.sqlite

# JSONs ignorados por defecto...
*.json
# ...pero versionamos los que nos interesan
!data/ideas/*.json
!data/counters.json

# Estáticos y templates SIEMPRE versionados
# (no los ignores)